<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<section class="">
				<% if flash[:notice] %>
					<span class="text"><%= flash[:notice] %></span>
				<% end %>
				<h2>User info</h2>
				<table>
					<%= attachment_image_tag @profile_image, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
					<tr>
						<td><span class="text">name</span></td>
						<td><span class="text"><%= current_user.name %></span></td>
					</tr>
					<tr>
						<td><span class="text">introduction</span></td>
						<td><span class="text"><%= current_user.plofile %></span></td>
					</tr>
				</table>
				<%= link_to edit_user_path(current_user.id), class: "edit_user_#{current_user.id}" do %>
					<span class="glyphicon glyphicon-edit btn btn-default btn-block" aria-hidden="true"></span>
				<% end %>
				<h2>New Book</h2>
				<%= form_for(@book) do |f| %>
						<% if @book.errors.any? %>
							<h3><%= @book.errors.count %> errors have occurred</h3>
							<ul>
								<% @book.errors.full_messages.each do |message| %>
								<li><%= message %></li>
								<% end %>
							</ul>
						<% end %>
					<p>
						<strong>Title</strong><br>
						<%= f.text_field :title, class: "book_title" %>
					</p>
					<p>
						<strong>Opinion</strong><br>
						<%= f.text_area :opinion, class: "book_body" %>
					</p>
					<p>
						<%= f.submit "Create Book", class: "btn-default btn-sm btn-primary btn-block" %>
					</p>
				<% end %>
			</section>
		</div>
		<div class="col-sm-8">
			<section class="">
				<h2>Books</h2>
				<table class="sidebar">
					<tr>
						<td>画像</td>
						<td><strong>Title</strong></td>
						<td><strong>Opinion</strong></td>
					</tr>
					<% @books.each do |book| %>
					<tr>
						<td>
							<%= attachment_image_tag @profile_image, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
						</td>
						<td>
							<%= link_to book_path(book.id), class: "book_#{book.id}" do %>
								<span class="text"><%= book.title %></span>
							<% end %>
						</td>
						<td><span class="text"><%= book.opinion %></span></td>
					</tr>
					<% end %>
				</table>
			</section>
		</div>
	</div>
</div>