<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<section class="">
				<% if flash[:notice] %>
					<span class="text"><%= flash[:notice] %></span>
				<% end %>
				<h2>User info</h2>
				<table>
					<%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
					<tr>
						<td><span class="text">name</span></td>
						<td><span class="text"><%= @books.user.name %></span></td>
					</tr>
					<tr>
						<td><span class="text">introduction</span></td>
						<td><span class="text"><%= @books.user.plofile %></span></td>
					</tr>
				</table>
				<%= link_to edit_user_path(current_user.id), class: "edit_user_#{current_user.id}" do %>
					<span class="glyphicon glyphicon-edit btn btn-default btn-block" aria-hidden="true"></span>
				<% end %>
				<h2>New Book</h2>
				<%= form_for(@book) do |f| %>
						<% if @book.errors.any? %>
							<h3><%= @book.errors.count %> errors have occurred</h3>
							<ul>
								<% @book.errors.full_messages.each do |message| %>
								<li><%= message %></li>
								<% end %>
							</ul>
						<% end %>
					<p>
						<strong>Title</strong><br>
						<%= f.text_field :title, class: "book_title" %>
					</p>
					<p>
						<strong>Opinion</strong><br>
						<%= f.text_area :opinion, class: "book_body" %>
					</p>
					<p>
						<%= f.submit "Create Book", class: "btn-default btn-sm btn-primary btn-block" %>
					</p>
				<% end %>
			</section>
		</div>
		<div class="col-sm-8">
			<section class="">
				<h2>Book detail</h2>
				<table class="sidebar">
					<tr>
						<td>
							<%= link_to user_path(@books.user.id), class: "book_#{@books.user.id}" do %>
							<%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %><br>
							<%= @books.user.name %>
							<% end %>
						</td>
						<td><span class="text"><%= @books.title %></span></td>
						<td><span class="text"><%= @books.opinion %></span></td>
						<% if @books.user == current_user %>
						<td><%= link_to edit_book_path, class: "edit_book_#{@books.id}" do %>
								<span class="text btn btn-success btn-block">edit</span>
							<% end %>
						</td>
						<td>
							<%= link_to book_path, class: "destroy_book_#{@books.id}", method: :delete, "data-confirm" => "Are you sure?" do %>
								<span class="text btn btn-danger btn-block">destroy</span>
							<% end %>
						</td>
						<% end %>
					</tr>
				</table>
			</section>
		</div>
	</div>